@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

section {
    padding-bottom: 40px;
}
section:after {
    content:"";
    display: table;
    clear: both;
}

/* Body
 * ============================ */
body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #353535;
}

/* Header
 * ============================ */
header {
  width: 100%;
  border-bottom: 1px solid #7cbae6;
  background: #1e1e1e;
}
header a.logo {
  margin-left: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #7cbae6;
  line-height: 4em;
}
header a.logo span {
  margin: 0 3px 0 3px;
  color: #9cdaf0;
}

/* Footer
 * ============================ */
footer {
  background: #111;
  font-size: 0.85em;
  color: #fff;
  position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
footer p {
  margin: 0 1em;
  line-height: 3em;
  color: #515151;
}

/* Shop & Product Items
 * ============================ */
.product {
  position: relative;
  z-index: 1;
  float: left;
  width: 33%;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
}
.product > * {
  margin: 20px 25px;
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.product:hover:before {
  position: absolute;
  z-index: -1;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: "";
}
.product > * {
  margin: 20px 25px;
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.product:hover > *, .product .active {
  opacity: 1;
}
.product h1 {
  padding: 15px 0;
  border-bottom: 1px dotted gray;
  font-weight: normal;
  font-size: 1.6em;
  color: #7cbae6;
}
.product p {
  margin-bottom: 30px;
  line-height: 1.5em;
  color: #fff;
}
.product .button {
  position: relative;
  display: block;
  width: 150px;
  height: 50px;
  text-align: center;
  perspective: 1000px;
  /* Button magic */
}
.product .button .price {
  position: absolute;
  z-index: 1;
  top: 2px;
  display: block;
  width: 50px;
  height: 46px;
  border-right: 1px solid #9cdaf0;
  border-radius: 2px 0 0 2px;
  background: #fff;
  line-height: 45px;
  color: #515151;
  transform: rotateY(0deg) translateZ(25px);
}
.product .button .addtocart {

  position: absolute;
  left: 48px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 300ms;
  cursor: pointer;
}
.product .button .addtocart > div {
  position: absolute;
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 0 2px 2px 0;
  line-height: 50px;
}
.product .button .addtocart > .add {
  background: #fff;
  color: #7cbae6;
  transform: rotateY(0deg) translateZ(25px);
  transition: background 150ms ease-out;
}
.product .button .addtocart > .add:hover {
  background: #7cbae6;
  color: #fff;
}
.product .button .addtocart > .added {
  background: #f63;
  color: #fff;
  transform: rotateX(90deg) translateZ(25px);
}
.product .button .addtocart.active {
  animation-name: rotate;
  animation-duration: 1s;
}

/* Media Queries
 * ============================ */
@media (max-width: 720px) {
  .product {
    width: 100%;
  }
}
/* Keyframe Animations
 * ============================ */
@keyframes rotate {
  35% {
    transform: translateZ(-100px) rotateX(-90deg);
  }
  72% {
    transform: translateZ(-100px) rotateX(-90deg);
  }
  100% {
    transform: translateZ(-100px);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

/* Product page */
.product-details img {
  max-width: 100%;
}

.product-details figure {
  margin: 0;
  line-height: 0;
}

.product-details {
  background: #fff;
  max-width: 600px;
  position: relative;
  z-index: 15;
  margin: 0 auto;
  text-align: center;
}
.product-details .product-description {
  position: relative;
  z-index: 15;
  background: #fff;
  text-align: left;
}
.product-details .product-description:after {
  content:"";
  display:table;
  clear:both;
}
.product-details .product-description .info {
  padding: 15px;
  color: #aaa;
  font-size: 0.85em;
  width: 75%;
  float: left;
}
.product-details .product-description .info h1 {
  font-size: 20px;
  margin: 0 0 5px;
}
.product-details .product-description .info p {
  margin-bottom: 15px;
  line-height: 1.3em;
}
.product-details .product-description .price {
  width: 25%;
  float: left;
  color: #9bb6aa;
  font-size: 3.5em;
  position: relative;
  margin-top: 25px;
}
.product-details .product-description .price::before {
  content: '$';
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 0.35em;
}
@media screen and (max-width: 480px) {
  #content {
    margin-top: 60px;
  }
}
